<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <WindowsFormsApp5.Properties.Settings>
            <setting name="WindowsFormsApp5_MeuServico_MeuServico" serializeAs="String">
                <value>https://localhost:44301/MeuServico.asmx</value>
            </setting>
            <setting name="WindowsFormsApp5_Calculator_Calculator" serializeAs="String">
                <value>http://www.dneonline.com/calculator.asmx</value>
            </setting>
        </WindowsFormsApp5.Properties.Settings>
    </applicationSettings>
</configuration>